<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= Author.find(book.author_id).first_name %>
    <%= Author.find(book.author_id).last_name %>
    (<%= age(Author.find(book.author_id).date_of_birth) %> years old)

  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Date of publication:</strong>
    <%= book.date_of_publication %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= book.review %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%=Publisher.find(book.publisher_id).name%>
  </p>

</div>
