<div class="card" style="width: 18rem;">

    <div class="card-body" id="<%= dom_id book %>">
      <p class="card-title">
        <strong>Title:</strong>
        <%= book.title %>
      </p>

      <p class="card-subtitle text-body-secondary">
        <strong>Author:</strong>
        <%= Author.find(book.author_id).first_name %>
        <%= Author.find(book.author_id).last_name %>
        (<%= age(Author.find(book.author_id).date_of_birth) %> years old)

      </p>

      <p class="card-text">
        <strong>Isbn:</strong>
        <%= book.isbn %>
      </p>

      <p class="card-text">
        <strong>Date of publication:</strong>
        <%= book.date_of_publication %>
      </p>

      <p class="card-text">
        <strong>Review:</strong>
        <%= book.review %>
      </p>

      <p class="card-text">
        <strong>Price:</strong>
        <%= book.price %>
      </p>

      <p class="card-text">
        <strong>Publisher:</strong>
        <%=Publisher.find(book.publisher_id).name%>
      </p>

    </div>
  </div>
</div>
