<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="books">
        <div class="d-flex flex-wrap">
          <% if @books.any? %>
            <div class="container">
              <ul>
                <% @books.each do |book| %>
                  <li>
                    <h4><%= book.title %></h4>
                    <p><strong>Author:</strong> <%= "#{book.author.first_name} #{book.author.last_name}" %></p>
                    <p><strong>Publisher:</strong> <%= book.publisher.name %></p>
                    <p><strong>ISBN:</strong> <%= book.isbn %></p>
                    <p><strong>Date of Publication:</strong> <%= book.date_of_publication %></p>
                    <p><strong>Review:</strong> <%= book.review %></p>
                    <p><strong>Price:</strong> <%= number_to_currency(book.price) %></p>
                    <p><%= link_to "Show this book", book_path(book) %></p>
                  </li>
                <% end %>
              </ul>
            </div>
              <%= paginate @books, theme: 'bootstrap-5' %>

          <% else %>
            <em>No books found.</em>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
